<div class="task-list">
  <h2 class="Create">Create Tasks</h2>

  <!-- Affichage des erreurs -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>

  <form (ngSubmit)="addTask()" [formGroup]="taskForm" class="task-form">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        id="title"
        type="text"
        formControlName="title"
        class="input"
        placeholder="Enter task title"
      />
      <div *ngIf="taskForm.controls['title'].invalid && taskForm.controls['title'].touched" class="error-message">
        Title is required.
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        formControlName="description"
        class="textarea"
        placeholder="Enter task description"
      ></textarea>
    </div>

    <button type="submit" class="submit-button" [disabled]="taskForm.invalid">
      Add Task
    </button>
  </form>

  <ul>
    <li *ngFor="let task of tasks" [class.completed]="task.isCompleted">
      <div>
        <h3>{{ task.title }}</h3>
        <p>{{ task.description }}</p>
        <div class="task-actions">
          <button
            (click)="completeTask(task.id)"
            [disabled]="task.isCompleted"
            class="mark-completed">
            Mark as completed
          </button>
          <button
            (click)="deleteTask(task.id)"
            class="delete-task">
            Delete
          </button>
        </div>

      </div>
    </li>
  </ul>

  <div *ngIf="tasks.length === 0">
    <p>No tasks available</p>
  </div>
</div>
